/* Section hover highlight */

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.sizing-fit.active {
	box-shadow: inset 0 -5px 25px #fc28a825;
	position: sticky;
	background-image: url(https://i.ibb.co/dccLj9v/nyan-cat.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: -50% 0;
	animation: catMoving 10s linear infinite;
}

@keyframes catMoving {
	0% {
		background-position: -50% 0;
	}
	100% {
		background-position: 150% 0;
	}
}

.quick-input-widget {
	width: 750px !important;
	margin-left: 0 !important;
	top: 50% !important;
	left: 55% !important;
	transform: translate(-50%, -50%) !important;
	outline: 2px solid #c6a0f6 !important;
}

.quick-input-header {
	font-size: 15px !important;
	padding: 10px !important;
}

/* Hover file */

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.sizing-fit:hover {
	background-image: url(https://i.ibb.co/Jpwn6vY/bongo-cat.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 0px;
	animation: bongoMoving 0.2s linear normal;
}

@keyframes bongoMoving {
	0% {
		background-position: 0% 20px;
	}
	100% {
		background-position: 0% 0px;
	}
}

/* Window toolbar */

.window-title
	> .command-center
	> .monaco-toolbar
	> .monaco-action-bar
	> .actions-container
	> .action-item.menu-entry,
.action-item.monaco-dropdown-with-primary,
.titlebar-right > .action-toolbar-container,
.title.tabs.show-file-icons > .tabs-and-actions-container > .editor-actions {
	display: none !important;
}

.action-item.icon > .action-label.codicon {
	font-size: 15px !important;
}
