/* Section hover highlight */

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.sizing-fit.active {
	box-shadow: inset 0 -5px 25px #fc28a825;
	position: sticky;
	background-image: url(https://i.ibb.co/dccLj9v/nyan-cat.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: -50% 0;
	animation: catMoving 10s linear infinite;
}

@keyframes catMoving {
	0% {
		background-position: -50% 0;
	}
	100% {
		background-position: 150% 0;
	}
}

.editor-container,
.part.sidebar.left.pane-composite-part,
.tabs-and-actions-container,
.breadcrumbs-below-tabs,
.part.activitybar.left {
	border: 2px solid #fc28a825 !important;
	transition: all 0.3s ease-in-out;
	margin: 6px !important;
}
.editor-container:hover,
.part.sidebar.left.pane-composite-part:hover,
.tabs-and-actions-container:hover,
.breadcrumbs-below-tabs:hover,
.part.activitybar.left:hover {
	border: 2px solid #b16bd6 !important;
	transition: all 0.3s ease-in-out;
}

.editor-container:hover .breadcrumb-item-flow,
.part.sidebar.left.pane-composite-part:hover #project-title-flow,
.part.activitybar.left:hover #tools-bar-flow {
	color: #b16bd6;
}

.split-view-container > .split-view-view.visible:nth-child(2) {
	padding-left: 8px !important;
}

.quick-input-widget {
	width: 750px !important;
	margin-left: 0 !important;
	top: 50% !important;
	left: 55% !important;
	transform: translate(-50%, -50%) !important;
}

.quick-input-header {
	font-size: 15px !important;
	padding: 10px !important;
}

/* Breadcrumb Flow */

.editor-container {
	position: relative !important;
	padding: 20px 0;
	height: calc(100dvh - 16.7%) !important;
	width: calc(100dvw - 30%) !important;
}
.part.activitybar.left {
	height: calc(100dvh - 7%) !important;
}
.tabs-and-actions-container {
	width: calc(100dvw - 30%) !important;
}

.editor-container > .editor-instance > div,
.editor-container > .editor-instance > div > div {
	height: 100% !important;
	width: 100% !important;
}

#breadcrumb-flow {
	position: absolute;
	top: -11px;
	left: 20px;
	transition: all 0.3s ease-in-out;
	z-index: 99;
	background: #262335;
	padding: 0 20px;
}

.breadcrumb-item-flow {
	font-weight: 600;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	color: #888690;
}

.breadcrumbs-below-tabs {
	display: none !important;
}

/* project title */
.part.sidebar.left.pane-composite-part {
	position: relative !important;
	overflow: hidden !important;
	height: 99% !important;
}

#project-title-flow {
	position: absolute;
	top: -11px;
	left: 12px;
	z-index: 99;
	background: #241b2f;
	padding: 0 20px;
	font-size: 13px;
	color: #888690;
	transition: all 0.3s ease-in-out;
}

.monaco-list[aria-label='Files Explorer']
	> .monaco-scrollable-element[role='presentation'],
.composite.viewlet {
	width: 95%;
}

.composite.title > .title-label > h2 {
	display: none;
}

/* Hover file */

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.sizing-fit:hover {
	background-image: url(https://i.ibb.co/Jpwn6vY/bongo-cat.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 0px;
	animation: bongoMoving 0.2s linear normal;
}

@keyframes bongoMoving {
	0% {
		background-position: 0% 20px;
	}
	100% {
		background-position: 0% 0px;
	}
}

/* Window toolbar */

.window-title
	> .command-center
	> .monaco-toolbar
	> .monaco-action-bar
	> .actions-container
	> .action-item.menu-entry,
.action-item.monaco-dropdown-with-primary,
.titlebar-right > .action-toolbar-container,
.title.tabs.show-file-icons > .tabs-and-actions-container > .editor-actions {
	display: none !important;
}

.monaco-workbench
	.part.titlebar
	> .titlebar-container
	> .titlebar-center
	> .window-title
	> .command-center
	.action-item.command-center-center {
	align-items: stretch !important;
	display: flex !important;
	height: 22px !important;
	margin: 0 6px !important;
	max-width: 600px !important;
	overflow: hidden !important;
	width: fit-content !important;
	background: transparent !important;
	border: none !important;
	font-size: 13px !important;
}

.action-item.icon > .action-label.codicon {
	font-size: 15px !important;
}
